In [2]:
import pandas as pd

In [2]:
df_games = pd.read_csv("games.csv")
df_reviews = pd.read_csv("reviews.csv")
df_items = pd.read_csv("items.csv")

Endpoint01

- games.genres
- games.release_date (solo el año)
- games.id
- items.item_id
- items.playtime_forever

In [3]:
df_games.loc[0,:]

app_name                     Lost Summoner Kitty
id                                      761140.0
release_year                              2018.0
Accounting                                     0
Action                                         1
Adventure                                      0
Animation &amp; Modeling                       0
Audio Production                               0
Casual                                         1
Design &amp; Illustration                      0
Early Access                                   0
Education                                      0
Free to Play                                   0
Indie                                          1
Massively Multiplayer                          0
Photo Editing                                  0
RPG                                            0
Racing                                         0
Simulation                                     1
Software Training                              0
Sports                                         0
Strategy                                       1
Utilities                                      0
Video Production                               0
Web Publishing                                 0
Name: 0, dtype: object

In [4]:
df_games.rename(columns={'id': 'item_id'}, inplace=True)
df_games.rename(columns={'Animation &amp; Modeling': 'Animation and Modeling'}, inplace=True)
df_games.rename(columns={'Design &amp; Illustration': 'Design and Illustration'}, inplace=True)
df_items["playtime_forever"] = df_items["playtime_forever"].astype(int)

In [5]:
df_items.sort_values(by='playtime_forever', ascending=False)

                   user_id  item_id  playtime_forever
587715              Cydran     4000            642773
2499068      EucHellscythe   212200            635295
4075729  76561198018891278    42710            632452
1495340           poopinya     4000            613411
1836985  76561198048365774    72200            600068
...                    ...      ...               ...
1912425         astrasimon   315430                 0
1912431         astrasimon   273350                 0
3841051         cannedbees   232210                 0
1912432         astrasimon   319630                 0
4098182             Dragim    17390                 0

[5153209 rows x 3 columns]

In [6]:
ep01 = pd.merge(df_games, df_items, on='item_id', how='inner')

In [7]:
ep01.columns

Index(['app_name', 'item_id', 'release_year', 'Accounting', 'Action',
       'Adventure', 'Animation and Modeling', 'Audio Production', 'Casual',
       'Design and Illustration', 'Early Access', 'Education', 'Free to Play',
       'Indie', 'Massively Multiplayer', 'Photo Editing', 'RPG', 'Racing',
       'Simulation', 'Software Training', 'Sports', 'Strategy', 'Utilities',
       'Video Production', 'Web Publishing', 'user_id', 'playtime_forever'],
      dtype='object')

In [8]:
generos=['Accounting', 'Action', 'Adventure',
       'Animation and Modeling', 'Audio Production', 'Casual',
       'Design and Illustration', 'Early Access', 'Education', 'Free to Play',
       'Indie', 'Massively Multiplayer', 'Photo Editing', 'RPG', 'Racing',
       'Simulation', 'Software Training', 'Sports', 'Strategy', 'Utilities',
       'Video Production', 'Web Publishing']

In [9]:
ep01.drop(columns=["app_name","item_id","user_id"], inplace=True)

In [10]:
resultados = pd.DataFrame(columns=['genero', 'release_year'])

def suma_horas_por_anio(genero):
    # Filtrar las filas donde el valor sea igual a 1
    filtrado = ep01[ep01[genero] == 1]

    # Agrupar por año y sumar las horas jugadas
    resumen = filtrado.groupby('release_year')['playtime_forever'].sum().reset_index()
    resumen = resumen.sort_values(by='playtime_forever', ascending=False).head(1)

    return resumen

# Llamar a la función con el nombre de la columna y valor
for genero in generos:
    resumen_genero = suma_horas_por_anio(genero)
    resumen_genero['genero'] = genero
    resultados = pd.concat([resultados, resumen_genero], ignore_index=True)

C:\Users\LP\AppData\Local\Temp\ipykernel_13520\1926346883.py:17: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  resultados = pd.concat([resultados, resumen_genero], ignore_index=True)

In [11]:
resultados.drop(columns=["playtime_forever"], inplace=True)

In [12]:
resultados["release_year"] = resultados["release_year"].astype(int)
resultados["release_year"] = resultados["release_year"].astype(str)

In [13]:
resultados.to_csv("endpoint01.csv", index=False)

Endpoint 02