In [3]:
import pandas as pd

In [8]:
df_games = pd.read_csv("csv/games.csv")
df_reviews = pd.read_csv("csv/reviews.csv")
df_items = pd.read_csv("csv/items.csv")

Endpoint01

- games.genres
- games.release_date (solo el año)
- games.id
- items.item_id
- items.playtime_forever

In [3]:
df_games.loc[0,:]

app_name                     Lost Summoner Kitty
id                                      761140.0
release_year                              2018.0
Accounting                                     0
Action                                         1
Adventure                                      0
Animation &amp; Modeling                       0
Audio Production                               0
Casual                                         1
Design &amp; Illustration                      0
Early Access                                   0
Education                                      0
Free to Play                                   0
Indie                                          1
Massively Multiplayer                          0
Photo Editing                                  0
RPG                                            0
Racing                                         0
Simulation                                     1
Software Training                              0
Sports                                         0
Strategy                                       1
Utilities                                      0
Video Production                               0
Web Publishing                                 0
Name: 0, dtype: object

In [4]:
df_games.rename(columns={'id': 'item_id'}, inplace=True)
df_games.rename(columns={'Animation &amp; Modeling': 'Animation and Modeling'}, inplace=True)
df_games.rename(columns={'Design &amp; Illustration': 'Design and Illustration'}, inplace=True)
df_items["playtime_forever"] = df_items["playtime_forever"].astype(int)

In [5]:
df_items.sort_values(by='playtime_forever', ascending=False)

                   user_id  item_id  playtime_forever
587715              Cydran     4000            642773
2499068      EucHellscythe   212200            635295
4075729  76561198018891278    42710            632452
1495340           poopinya     4000            613411
1836985  76561198048365774    72200            600068
...                    ...      ...               ...
1912425         astrasimon   315430                 0
1912431         astrasimon   273350                 0
3841051         cannedbees   232210                 0
1912432         astrasimon   319630                 0
4098182             Dragim    17390                 0

[5153209 rows x 3 columns]

In [6]:
ep01 = pd.merge(df_games, df_items, on='item_id', how='inner')

In [7]:
ep01.columns

Index(['app_name', 'item_id', 'release_year', 'Accounting', 'Action',
       'Adventure', 'Animation and Modeling', 'Audio Production', 'Casual',
       'Design and Illustration', 'Early Access', 'Education', 'Free to Play',
       'Indie', 'Massively Multiplayer', 'Photo Editing', 'RPG', 'Racing',
       'Simulation', 'Software Training', 'Sports', 'Strategy', 'Utilities',
       'Video Production', 'Web Publishing', 'user_id', 'playtime_forever'],
      dtype='object')

In [8]:
generos=['Accounting', 'Action', 'Adventure',
       'Animation and Modeling', 'Audio Production', 'Casual',
       'Design and Illustration', 'Early Access', 'Education', 'Free to Play',
       'Indie', 'Massively Multiplayer', 'Photo Editing', 'RPG', 'Racing',
       'Simulation', 'Software Training', 'Sports', 'Strategy', 'Utilities',
       'Video Production', 'Web Publishing']

In [9]:
ep01.drop(columns=["app_name","item_id","user_id"], inplace=True)

In [10]:
resultados = pd.DataFrame(columns=['genero', 'release_year'])

def suma_horas_por_anio(genero):
    # Filtrar las filas donde el valor sea igual a 1
    filtrado = ep01[ep01[genero] == 1]

    # Agrupar por año y sumar las horas jugadas
    resumen = filtrado.groupby('release_year')['playtime_forever'].sum().reset_index()
    resumen = resumen.sort_values(by='playtime_forever', ascending=False).head(1)

    return resumen

# Llamar a la función con el nombre de la columna y valor
for genero in generos:
    resumen_genero = suma_horas_por_anio(genero)
    resumen_genero['genero'] = genero
    resultados = pd.concat([resultados, resumen_genero], ignore_index=True)

C:\Users\LP\AppData\Local\Temp\ipykernel_13520\1926346883.py:17: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  resultados = pd.concat([resultados, resumen_genero], ignore_index=True)

In [11]:
resultados.drop(columns=["playtime_forever"], inplace=True)

In [12]:
resultados["release_year"] = resultados["release_year"].astype(int)
resultados["release_year"] = resultados["release_year"].astype(str)

In [13]:
resultados.to_csv("endpoint01.csv", index=False)

Endpoint 02

def UserForGenre( genero : str ): Debe devolver el usuario que acumula más horas jugadas para el género dado y una lista de la acumulación de horas jugadas por año.

Ejemplo de retorno: {"Usuario con más horas jugadas para Género X" : us213ndjss09sdf, "Horas jugadas":[{Año: 2013, Horas: 203}, {Año: 2012, Horas: 100}, {Año: 2011, Horas: 23}]}

- games.genres
- games.id
- items.item_id
- items.user_id
- items.playtime_forever

In [9]:
df_games.head()

,app_name,id,release_year,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,Design &amp; Illustration,...,Photo Editing,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing
0,Lost Summoner Kitty,761140.0,2018.0,0,1,0,0,0,1,0,...,0,0,0,1,0,0,1,0,0,0
1,Ironbound,643980.0,2018.0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
2,Real Pool 3D - Poolians,670290.0,2017.0,0,0,0,0,0,1,0,...,0,0,0,1,0,1,0,0,0,0
3,弹炸人2222,767400.0,2017.0,0,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,Log Challenge,773570.0,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

renombramos las columnas 'Animation &amp; Modeling' y 'Design &amp; Illustration'

In [10]:
df_games.rename(columns={'Animation &amp; Modeling': 'Animation and Modeling'}, inplace=True)
df_games.rename(columns={'Design &amp; Illustration': 'Design and Illustration'}, inplace=True)

In [11]:
df_items.head()

             user_id  item_id  playtime_forever
0  76561197970982479       10               6.0
1  76561197970982479       20               0.0
2  76561197970982479       30               7.0
3  76561197970982479       40               0.0
4  76561197970982479       50               0.0

acumulamos las horas jugadas por usuario por juego

In [12]:
# Agrupar por usuario y juego, y sumar las horas jugadas
horas_jugadas = df_items.groupby(['user_id', 'item_id'])['playtime_forever'].sum().reset_index()

# Visualizar el resultado
print(horas_jugadas)

            user_id  item_id  playtime_forever
0           --000--     8600               8.0
1           --000--     8660               0.0
2           --000--     9450               0.0
3           --000--    15700               2.0
4           --000--    33910              52.0
...             ...      ...               ...
4713361  zzzmidmiss   365300              49.0
4713362  zzzmidmiss   372000              63.0
4713363  zzzmidmiss   374570               0.0
4713364  zzzmidmiss   391270               3.0
4713365  zzzmidmiss   391540             615.0

[4713366 rows x 3 columns]

fusionamos horas_jugadas con df_games

In [13]:
df_merged = pd.merge(horas_jugadas, df_games, left_on='item_id', right_on='id')

In [14]:
df_merged

,user_id,item_id,playtime_forever,app_name,id,release_year,Accounting,Action,Adventure,Animation and Modeling,...,Photo Editing,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing
0,--000--,8600,8.0,RACE 07,8600.0,2007.0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,-PRoSlayeR-,8600,0.0,RACE 07,8600.0,2007.0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,00690069006900,8600,33.0,RACE 07,8600.0,2007.0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,01189958889189157253,8600,0.0,RACE 07,8600.0,2007.0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,0305089,8600,0.0,RACE 07,8600.0,2007.0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3940109,x--13--x,513240,7.0,Birdtual Reality,513240.0,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3940110,x--13--x,516550,0.0,Relativity,516550.0,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3940111,xXScopezZHDXx,520470,23.0,Music Inside: A VR Rhythm Game,520470.0,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3940112,xerector,371220,700.0,VERLIES II,371220.0,2015.0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
3940113,ytterbiumdioxide,438310,155.0,SCORE,438310.0,2016.0,0,1,0,0,...,0,0,0,1,0,1,0,0,0,0

teniendo los siguientes generos
'Accounting', 'Action', 'Adventure','Animation and Modeling', 'Audio Production', 'Casual',
'Design and Illustration', 'Early Access', 'Education', 'Free to Play','Indie', 'Massively Multiplayer', 'Photo Editing', 'RPG', 'Racing','Simulation', 'Software Training', 'Sports', 'Strategy', 'Utilities',
'Video Production', 'Web Publishing'

In [58]:
df_genero_1 = df_merged[df_merged['Accounting'] == 1]
df_genero_1

Empty DataFrame
Columns: [user_id, item_id, playtime_forever, app_name, id, release_year, Accounting, Action, Adventure, Animation and Modeling, Audio Production, Casual, Design and Illustration, Early Access, Education, Free to Play, Indie, Massively Multiplayer, Photo Editing, RPG, Racing, Simulation, Software Training, Sports, Strategy, Utilities, Video Production, Web Publishing]
Index: []

[0 rows x 28 columns]

In [37]:
horas_por_usuario = df_genero_1.groupby('user_id')['playtime_forever'].sum()

In [35]:
usuario_mas_horas = horas_por_usuario.idxmax()

In [26]:
print("Usuario con más horas jugadas para genero = 1:", usuario_mas_horas)

Usuario con más horas jugadas para Accounting = 1: DeEggMeister

iteramos con los generos existentes, al notar que el genero 'Accounting' no le corresponde a ningun juego, lo quitamos de la lista de generos a iterar

In [15]:

# Lista de géneros
generos=['Action', 'Adventure',
       'Animation and Modeling', 'Audio Production', 'Casual',
       'Design and Illustration', 'Early Access', 'Education', 'Free to Play',
       'Indie', 'Massively Multiplayer', 'Photo Editing', 'RPG', 'Racing',
       'Simulation', 'Software Training', 'Sports', 'Strategy', 'Utilities',
       'Video Production', 'Web Publishing']

# Crear un DataFrame vacío para acumular los resultados
resultados = pd.DataFrame(columns=['genero', 'usuario', 'anios_Horas'])

# Iterar sobre cada género en la lista Accounting
for genero in generos:
    # Filtrar el DataFrame para el género actual
    df_genero = df_merged[df_merged[genero] == 1]
    
    # Agrupar los datos por usuario y año y sumar las horas jugadas
    horas_por_usuario_y_anio = df_genero.groupby(['user_id', 'release_year'])['playtime_forever'].sum().reset_index()
    
    # Encontrar el usuario que acumula más horas jugadas
    usuario_mas_horas = horas_por_usuario_y_anio.groupby('user_id')['playtime_forever'].sum().idxmax()
    
    # Filtrar las horas jugadas del usuario con más horas jugadas
    horas_usuario_mas_horas = horas_por_usuario_y_anio[(horas_por_usuario_y_anio['user_id'] == usuario_mas_horas) & (horas_por_usuario_y_anio['playtime_forever'] > 0)]
    
    # Crear la lista de años y horas jugadas en dicho año
    lista_horas_por_anio = [{"Año": anio, "Horas": horas} for anio, horas in zip(horas_usuario_mas_horas['release_year'], horas_usuario_mas_horas['playtime_forever'])]
    
    # Agregar los resultados al DataFrame
    resultados = pd.concat([resultados, pd.DataFrame({'genero': [genero], 'usuario': [usuario_mas_horas], 'anios_Horas': [lista_horas_por_anio]})], ignore_index=True)

# Mostrar el resultado
print(resultados)

                     genero               usuario
0                    Action          DeEggMeister  \
1                 Adventure          thugnificent
2    Animation and Modeling               ehekatI
3          Audio Production  everybodylovesrayman
4                    Casual          thugnificent
5   Design and Illustration               ehekatI
6              Early Access          Outbackalien
7                 Education     76561198058784699
8              Free to Play          thugnificent
9                     Indie          thugnificent
10    Massively Multiplayer         EucHellscythe
11            Photo Editing           SkittleRage
12                      RPG          thugnificent
13                   Racing        Turn_on_a_Dime
14               Simulation         EucHellscythe
15        Software Training  everybodylovesrayman
16                   Sports            cyberhorse
17                 Strategy          thugnificent
18                Utilities     76561198062403736
19         Video Production               ehekatI
20           Web Publishing     76561198027367190

                                          anios_Horas
0   [{'Año': 1994.0, 'Horas': 20.0}, {'Año': 1995....
1   [{'Año': 1988.0, 'Horas': 231.0}, {'Año': 1993...
2   [{'Año': 2013.0, 'Horas': 16.0}, {'Año': 2015....
3                [{'Año': 2014.0, 'Horas': 109916.0}]
4   [{'Año': 1993.0, 'Horas': 8822.0}, {'Año': 199...
5   [{'Año': 2013.0, 'Horas': 16.0}, {'Año': 2015....
6   [{'Año': 2012.0, 'Horas': 114.0}, {'Año': 2013...
7                 [{'Año': 2013.0, 'Horas': 65427.0}]
8   [{'Año': 2003.0, 'Horas': 530882.0}, {'Año': 2...
9   [{'Año': 1997.0, 'Horas': 99.0}, {'Año': 1998....
10  [{'Año': 2009.0, 'Horas': 39.0}, {'Año': 2010....
11                [{'Año': 2014.0, 'Horas': 21885.0}]
12  [{'Año': 1996.0, 'Horas': 76.0}, {'Año': 1999....
13  [{'Año': 2006.0, 'Horas': 73946.0}, {'Año': 20...
14  [{'Año': 2001.0, 'Horas': 25.0}, {'Año': 2003....
15               [{'Año': 2014.0, 'Horas': 109916.0}]
16  [{'Año': 2010.0, 'Horas': 71.0}, {'Año': 2012....
17  [{'Año': 1993.0, 'Horas': 22001.0}, {'Año': 19...
18               [{'Año': 2014.0, 'Horas': 207651.0}]
19               [{'Año': 2015.0, 'Horas': 168321.0}]
20  [{'Año': 2005.0, 'Horas': 7296.0}, {'Año': 201...

generamos nuestro 2do endpoint

In [16]:
resultados.to_csv("endpoint02.csv", index=False)