funcion 01

In [1]:
import pandas as pd

In [4]:
df_ep01 = pd.read_csv('endpoint01.csv')

In [5]:
df_ep01

                     genero  release_year
0                    Action          2012
1                 Adventure          2011
2    Animation and Modeling          2015
3          Audio Production          2014
4                    Casual          2015
5   Design and Illustration          2012
6              Early Access          2013
7                 Education          2013
8              Free to Play          2013
9                     Indie          2006
10    Massively Multiplayer          2013
11            Photo Editing          2014
12                      RPG          2011
13                   Racing          2015
14               Simulation          2006
15        Software Training          2014
16                   Sports          2015
17                 Strategy          2013
18                Utilities          2014
19         Video Production          2015
20           Web Publishing          2012

In [6]:
filtered_df = df_ep01[df_ep01['genero'] == 'Action']

In [7]:
filtered_df

   genero  release_year
0  Action          2012

In [9]:
response = {"Año de lanzamiento con más horas jugadas para {}: {}".format(filtered_df.iloc[0]['genero'],filtered_df.iloc[0]['release_year'])}

In [10]:
response

{'Año de lanzamiento con más horas jugadas para Action: 0    2012\nName: release_year, dtype: int64'}

funcion 02

In [4]:
df_ep02 = pd.read_csv('endpoint02.csv')

In [5]:
df_ep02

,genero,usuario,anios_Horas
0,Action,DeEggMeister,"[{'Año': 1994.0, 'Horas': 20.0}, {'Año': 1995...."
1,Adventure,thugnificent,"[{'Año': 1988.0, 'Horas': 231.0}, {'Año': 1993..."
2,Animation and Modeling,ehekatI,"[{'Año': 2013.0, 'Horas': 16.0}, {'Año': 2015...."
3,Audio Production,everybodylovesrayman,"[{'Año': 2014.0, 'Horas': 109916.0}]"
4,Casual,thugnificent,"[{'Año': 1993.0, 'Horas': 8822.0}, {'Año': 199..."
5,Design and Illustration,ehekatI,"[{'Año': 2013.0, 'Horas': 16.0}, {'Año': 2015...."
6,Early Access,Outbackalien,"[{'Año': 2012.0, 'Horas': 114.0}, {'Año': 2013..."
7,Education,76561198058784699,"[{'Año': 2013.0, 'Horas': 65427.0}]"
8,Free to Play,thugnificent,"[{'Año': 2003.0, 'Horas': 530882.0}, {'Año': 2..."
9,Indie,thugnificent,"[{'Año': 1997.0, 'Horas': 99.0}, {'Año': 1998...."
10,Massively Multiplayer,EucHellscythe,"[{'Año': 2009.0, 'Horas': 39.0}, {'Año': 2010...."
11,Photo Editing,SkittleRage,"[{'Año': 2014.0, 'Horas': 21885.0}]"
12,RPG,thugnificent,"[{'Año': 1996.0, 'Horas': 76.0}, {'Año': 1999...."
13,Racing,Turn_on_a_Dime,"[{'Año': 2006.0, 'Horas': 73946.0}, {'Año': 20..."
14,Simulation,EucHellscythe,"[{'Año': 2001.0, 'Horas': 25.0}, {'Año': 2003...."
15,Software Training,everybodylovesrayman,"[{'Año': 2014.0, 'Horas': 109916.0}]"
16,Sports,cyberhorse,"[{'Año': 2010.0, 'Horas': 71.0}, {'Año': 2012...."
17,Strategy,thugnificent,"[{'Año': 1993.0, 'Horas': 22001.0}, {'Año': 19..."
18,Utilities,76561198062403736,"[{'Año': 2014.0, 'Horas': 207651.0}]"
19,Video Production,ehekatI,"[{'Año': 2015.0, 'Horas': 168321.0}]"
20,Web Publishing,76561198027367190,"[{'Año': 2005.0, 'Horas': 7296.0}, {'Año': 201..."

In [9]:
filtered_df = df_ep02[df_ep02['genero'] == 'Action']

In [10]:
filtered_df

   genero       usuario                                        anios_Horas
0  Action  DeEggMeister  [{'Año': 1994.0, 'Horas': 20.0}, {'Año': 1995....

In [16]:
response = {"Usuario con más horas jugadas para {}: {},'Horas jugadas' {}".format(filtered_df.iloc[0]['genero'],filtered_df.iloc[0]['usuario'],filtered_df.iloc[0]['anios_Horas'] )}

In [17]:
response

{"Usuario con más horas jugadas para Action: DeEggMeister,'Horas jugadas' [{'Año': 1994.0, 'Horas': 20.0}, {'Año': 1995.0, 'Horas': 80.0}, {'Año': 1998.0, 'Horas': 1504.0}, {'Año': 1999.0, 'Horas': 993.0}, {'Año': 2000.0, 'Horas': 7276.0}, {'Año': 2001.0, 'Horas': 295.0}, {'Año': 2002.0, 'Horas': 1388.0}, {'Año': 2003.0, 'Horas': 4608.0}, {'Año': 2004.0, 'Horas': 64061.0}, {'Año': 2005.0, 'Horas': 8908.0}, {'Año': 2006.0, 'Horas': 16235.0}, {'Año': 2007.0, 'Horas': 22869.0}, {'Año': 2008.0, 'Horas': 99995.0}, {'Año': 2009.0, 'Horas': 207187.0}, {'Año': 2010.0, 'Horas': 139111.0}, {'Año': 2011.0, 'Horas': 337126.0}, {'Año': 2012.0, 'Horas': 1182929.0}, {'Año': 2013.0, 'Horas': 460357.0}, {'Año': 2014.0, 'Horas': 192694.0}, {'Año': 2015.0, 'Horas': 274834.0}, {'Año': 2016.0, 'Horas': 111759.0}, {'Año': 2017.0, 'Horas': 87183.0}]"}