FUNCION 01

In [1]:
import pandas as pd

In [4]:
df_ep01 = pd.read_csv('endpoint01.csv')

In [5]:
df_ep01

                     genero  release_year
0                    Action          2012
1                 Adventure          2011
2    Animation and Modeling          2015
3          Audio Production          2014
4                    Casual          2015
5   Design and Illustration          2012
6              Early Access          2013
7                 Education          2013
8              Free to Play          2013
9                     Indie          2006
10    Massively Multiplayer          2013
11            Photo Editing          2014
12                      RPG          2011
13                   Racing          2015
14               Simulation          2006
15        Software Training          2014
16                   Sports          2015
17                 Strategy          2013
18                Utilities          2014
19         Video Production          2015
20           Web Publishing          2012

In [6]:
filtered_df = df_ep01[df_ep01['genero'] == 'Action']

In [7]:
filtered_df

   genero  release_year
0  Action          2012

In [9]:
response = {"A침o de lanzamiento con m치s horas jugadas para {}: {}".format('Action',filtered_df['release_year'] )}

In [10]:
response

{'A침o de lanzamiento con m치s horas jugadas para Action: 0    2012\nName: release_year, dtype: int64'}